langchain
langgraph
langchain_community
langchain_core
langchain_groq
fastapi
uvicorn
watchdog
langchain-cli[inmem]
assemblyai
cartesia
python-multipart
git+https://github.com/stefanrmmr/streamlit-audio-recorder.git
elevenlabs